// Break Point
$desktop: 1600px;
$laptop-lg: 1200px;
$laptop: 1060px; //!!!!!!!!!!!!!!!
$tablet: 768px;
$mobile: 540px;
$mobile-sm: 375px;

// 활용이 힘들어보임 ㅠㅠ
// $breakPoint: (
//   "desktop": 1600,
//   "laptopLG": 1200,
//   "laptop": 1024,
//   "tablet": 768,
//   "mobile": 540,
//   "mobileSM": 375
// );

// @mixin res($screenSize) {
//   @media screen and (min-width: #{$screenSize}px) {
//     @content;
//   }
// }

// ---------- * ----------

// Desktop
@mixin res--desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

// Laptop LG
@mixin res--laptopLG {
  @media screen and (min-width: #{$laptop-lg}) {
    @content;
  }
}

// Laptop
@mixin res--laptop {
  @media screen and (min-width: #{$laptop}) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

// Mobile
@mixin res--mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

// Mobile SM
@mixin res--mobileSM {
  @media screen and (min-width: #{$mobile-sm}) {
    @content;
  }
}