<div class="page-title">
  <h2 class="title">@@title</h2>
  <small class="title-small">@@small</small>
  <div class="button-page-wrap">
    @@if (context.btnPage==='canBack' ) {
    <button class="button-page page-back">
      <span class="button-page-text">뒤로가기</span>
    </button>
    }
    @@if (context.btnPage==='canCancle' ) {
    <button class="button-page page-cancle">
      <span class="button-page-text">결제취소</span>
    </button>
    }
    @@if (context.btnPage==='canBackCancle' ) {
    <button class="button-page page-back">
      <span class="button-page-text">뒤로가기</span>
    </button>
    <button class="button-page page-cancle">
      <span class="button-page-text">결제취소</span>
    </button>
    }
  </div>
</div>