@keyframes shake {

  $_shake_size: 3;

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15%,
  45%,
  75% {
    -webkit-transform: translate3d(-#{$_shake_size}px, 0, 0);
    transform: translate3d(-#{$_shake_size}px, 0, 0);
  }

  30%,
  60%,
  90% {
    -webkit-transform: translate3d(#{$_shake_size}px, 0, 0);
    transform: translate3d(#{$_shake_size}px, 0, 0);
  }
}