@charset "utf-8";

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  @include bgi("logo");
  background-size: 100%;
}

.page-top {
  padding-top: 54px;

  @include res--laptop {
    padding-top: 80px;
  }
}

.scroll-container {
  overflow-y: auto;
}

.-scroll-disabled {
  overflow-y: hidden;
}