// ---
// common
// ---

.blind {
  // π‘† SEOμ© ν…μ¤νΈ μ¨κΈ°κΈ°
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  // π‘† λ²”μ© λ΅κ³ 
  @include bgi("logo");
  background-size: 100%;
}

.page-top {
  // π‘† νμ΄μ§€ μµμƒλ‹¨μ— ν—¤λ”λ§νΌμ padding ν™•λ³΄
  padding-top: 54px;

  //laptop
  @include res--laptop {
    padding-top: 80px;
  }
}


.page-body {
  // π‘† ν—¤λ”, ν‘Έν„°λ¥Ό μ μ™Έν•κ³  νμ΄μ§€ μ „μ²΄λ¥Ό κ°μ‹Έλ” μ”μ†
  padding: 0 20px;

  //laptop
  @include res--laptop {
    padding: 0 40px;
  }
}

.page-guide {
  // π‘† μΌλ¶€ νμ΄μ§€μ—μ„ λ³΄μ—¬μ§€λ” μ•λ‚΄λ¬Έκµ¬
  font-size: 15px;
  line-height: 1.67;
  color: $c-black;
  text-align: center;
  font-weight: $fw-r;
  margin-bottom: 55px;

  //laptop
  @include res--laptop {
    font-size: 17px;
  }
}

.scroll-container {
  // π‘† μ¤ν¬λ΅¤ μμ—­ μ§€μ •ν•  λ• μ‚¬μ©
  overflow-y: auto;
}

.-scroll-disabled {
  // π‘† μ¤ν¬λ΅¤ λ§‰μ„ λ• μ‚¬μ©
  overflow-y: hidden;
}