@charset "utf-8";

.icon {
  display: inline-block;
  font-size: 0;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-back {
  //상단 뒤로가기 버튼
  background-image: icon(back, "000000");
}

.icon-close {
  //닫기 버튼
  width: 3rem;
  height: 3rem;
  background-image: icon(close, "000000");
}

.icon-filter {
  //필터 오른편 화살표
  background-image: icon(filter-down, "000000");

  &.active {
    background-image: icon(filter-up, "000000");
  }
}

.icon-person {
  //투표 생성자 옆 사람 모양 아이콘
  background-image: icon(person, "bcbcbc");
}

.icon-search {
  //검색 박스 내 왼편 검색 아이콘
  background-image: icon(search, "9c9c9c");
}

.icon-delete {
  //삭제 아이콘
  background-image: icon(delete, "6e6e6e");
}

.icon-delete-disable {
  //삭제 아이콘 비활성화
  background-image: icon(delete, "d3d3d3");
}

.icon-clock {
  background-image: icon(clock, "a8a8a8");
}

.icon-arrow-right {
  background-image: icon(arrow-right, "000000");
}

.icon-plus {
  width: 2.7rem;
  height: 2.7rem;
  background-image: icon(plus, "000000");
}

.icon-dropdown {
  background-image: icon(dropdown-down, "000000");
}

.icon-checkmark {
  background-image: icon(checkmark, "a8a8a8");
}

.icon-write {
  background-image: icon(write, "000000");
}

.icon-checkmark-one {
  background-image: icon(checkmark, "30b9d3");
}

.icon-checkmark-multiple {
  background-image: icon(checkmark-multiple, "000000");
}

.icon-checkmark-result {
  background-image: icon(checkmark-result, "000000");
}

.icon-checkmark-response {
  background-image: icon(checkmark-response, "000000");
}