// ---
// page
// ---

// >> κ³µν†µ <<

.page-top {
  // π‘† νμ΄μ§€ μµμƒλ‹¨μ— ν—¤λ”λ§νΌμ padding ν™•λ³΄
  padding-top: 54px;

  //laptop
  @include res--laptop {
    padding-top: 80px;
  }
}

.page-body {
  // π‘† ν—¤λ”, ν‘Έν„°λ¥Ό μ μ™Έν•κ³  νμ΄μ§€ μ „μ²΄λ¥Ό κ°μ‹Έλ” μ”μ†
  padding: 0 20px;

  //laptop
  @include res--laptop {
    padding: 0 40px;
  }
}

.page-guide {
  // π‘† μΌλ¶€ νμ΄μ§€μ—μ„ λ³΄μ—¬μ§€λ” μ•λ‚΄λ¬Έκµ¬
  font-size: 15px;
  line-height: 1.67;
  color: $c-black;
  text-align: center;
  font-weight: $fw-r;
  margin-bottom: 55px;

  //laptop
  @include res--laptop {
    font-size: 17px;
  }


  .page-guide-btn {
    margin: 15px auto 0;
  }


  .user-mail {
    // π‘† μ μ € λ©”μΌμ •λ³΄
    display: inline-block;
    position: relative;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 1.5;
    color: $c-black;
    font-weight: $fw-m;

    &:after {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d5d5d5;
      content: "";
    }

    //laptop
    @include res--laptop {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 1.6;
    }
  }
}

// ===================
// >> νΉμ • νμ΄μ§€ <<
// ===================

.page-user-forms {
  // π‘† νμ›κ°€μ…, μ„μ‹ λΉ„λ°€λ²νΈ λ°κΈ‰, νμ›μ •λ³΄ μμ • λ“±

  .page-guide {
    margin-bottom: 55px;

    //laptop
    @include res--laptop {
      margin-bottom: 60px;
    }
  }

  .btn-full:last-child {
    margin-top: 55px;

    //laptop
    @include res--laptop {
      margin-top: 60px;
    }
  }
}

.page-inform {
  // π‘† λ°κΈ‰ μ™„λ£, μ‹ μ²­ μ™„λ£ λ“±

  .page-sub {
    margin: 80px auto 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.57;
    color: $c-gray-normal;
    font-weight: $fw-r;

    //laptop
    @include res--laptop {
      font-size: 15px;
      line-height: 1.6;
    }

  }

  .page-sub-mail {
    display: block;
    margin-top: 6px;
    font-weight: $fw-m;
  }

  .page-sub-btn {
    // π‘† ν™ ν™”λ©΄μΌλ΅ λμ•„κ°€κΈ° λ²„νΌ λ“±
    margin: 15px auto 0;
  }
}