// ---
// animation
// ---


@keyframes shake {
  // 👆 에러용 애니메이션 (쉐킷!)

  $_shake_size: 3;

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15%,
  45%,
  75% {
    -webkit-transform: translate3d(-#{$_shake_size}px, 0, 0);
    transform: translate3d(-#{$_shake_size}px, 0, 0);
  }

  30%,
  60%,
  90% {
    -webkit-transform: translate3d(#{$_shake_size}px, 0, 0);
    transform: translate3d(#{$_shake_size}px, 0, 0);
  }
}


@keyframes show-skew {
  // 👆 텍스트가 아래에서 위로 기울어지듯 올라가는 모션

  $_skew_size: 10;

  0% {
    transform: skewY(#{$_skew_size}deg) translateY(110%) translateZ(0);
    transform-origin: left center;
  }

  30% {
    transform: skewY(0) translateY(0) translateZ(0);
    transform-origin: left center;
  }

  70% {
    transform: skewY(0) translateY(0) translateZ(0);
    transform-origin: left center;
  }

  100% {
    transform: skewY(#{$_skew_size}deg) translateY(-200%) translateZ(0);
    transform-origin: left center;
  }
}


@keyframes show-copied {
  // 👆 공유하기 모달에서 '복사 완료' 문구 표시

  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulsate {
  // 👆 로딩 아이콘 pulse하는 모션

  0% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  50% {
    -webkit-transform: scale3d(0.93, 0.93, 0.93);
    transform: scale3d(0.93, 0.93, 0.93)
  }

  100% {
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes expandInBounce {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
    animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }

  70% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
}