// ---
// common
// ---

.blind {
  // 👆 SEO용 텍스트 숨기기
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  // 👆 범용 로고
  @include bgi("logo");
  background-size: 100%;
}

.scroll-container {
  // 👆 스크롤 영역 지정할 때 사용
  overflow-y: auto;
}

.-scroll-disabled {
  // 👆 스크롤 막을 때 사용
  height: 100%;
  overflow: hidden;
}


.text-small {
  // 👆 서비스 이용약관 등의 작은 안내문에 사용
  font-size: 11px;
  line-height: 1.64;
  letter-spacing: -0.17px;
  color: $c-gray-light;
  margin-top: 30px;

  //laptop
  @include res--laptop {
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: 0.1px;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  a:focus,
  a:hover {
    color: $c-gray-dark;
  }
}

.hide-laptop {
  // 👆 랩탑에서 숨기는 요소
  display: block;

  //laptop
  @include res--laptop {
    display: none;
  }
}

.get-exp {
  // 👆 리뷰 등록 완료 화면에서 경험치 보여줌
  color: $c-pink-hot;
  font-size: 15px;
  font-weight: $fw-m;
  text-align: center;
  line-height: 1.47;
  margin-top: 15px;

  @include res--laptop {
    font-size: 17px;
  }
}


.headerPedding {
  // 👆 헤더 오픈 시 자리를 옮길 애들
}