// ---
// modules - buttons
// ---

.btn-line {
  // 👆 라인형태로 된 버튼
  display: block;
  min-width: 90px;
  height: 34px;
  padding: 0 15px;
  color: $c-pink;
  border-radius: 2px;
  font-size: 13px;
  font-weight: $fw-m;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.13px;
  border: 1px solid $c-pink;
  background-color: #fff;
  transition: transform 0.25s, background 0.25s;

  &:hover {
    color: #fff;
    background-color: $c-pink;
  }

  //laptop
  @include res--laptop {
    min-width: 120px;
    height: 40px;
    font-size: 15px;
    padding: 0 20px;
  }
}

.btn-line-on {
  @extend .btn-line;
  color: #fff;
  background-color: $c-pink;

  &:hover {
    transform: scale(1.1) translateZ(0);
  }
}

.btn-modal-okay {
  // 👆 모달 내 확인 버튼
  @extend .btn-line;
  min-width: 90px;
  color: #898989;
  border-color: #898989;

  &:hover {
    background-color: #fff;
    color: $c-black;
    border-color: $c-black;
  }

  //laptop
  @include res--laptop {
    min-width: 90px;
    height: 34px;
    font-size: 13px;
    padding: 0 15px;
  }
}

.btn-line-small {
  // 👆 비밀번호 찾기처럼 작은 라인 버튼
  @extend .btn-modal-okay;
  min-width: 85px;
  height: 30px;
  font-size: 11px;
  padding: 0 10px;
  cursor: pointer;

  //laptop
  @include res--laptop {
    min-width: 95px;
    height: 32px;
    font-size: 12px;
    padding: 0 10px;
  }

  &:disabled {
    color: #d5d5d5;
    border-color: #d5d5d5;
    cursor: default;
  }
}


.btn-full {
  // 👆 전체를 차지하는 그라데이션 버튼
  display: block;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: $fw-m;
  line-height: 1.33;
  letter-spacing: -0.15px;
  // transition: color 0.25s;
  // border: 2px solid transparent;
  @include horizontal-gradient(#f48d6c, #f47271);

  &:hover,
  &:focus {
    color: $c-pink;
    border: 2px solid $c-pink;
    background: #fff;
  }

  &:disabled,
  &.-disabled {
    background: #d6d6d6;
    color: #fff;
    cursor: default;

    &:hover {
      background: #d6d6d6;
      color: #fff;
      border-color: transparent;
    }
  }

  //laptop
  @include res--laptop {
    width: 460px;
    height: 54px;
    font-size: 17px;
  }
}

.btn-text {
  // 👆 텍스트에 > 가 붙은 버튼
  display: block;
  font-size: 15px;
  font-weight: $fw-m;
  color: $c-gray-normal;
  line-height: 1.47;
  padding-right: 18px;
  background-size: 10px 12px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: icon(arrow-right, "5f5f5f");

  &:hover {
    color: $c-black;
    background-image: icon(arrow-right, "101010");
  }

  //laptop
  @include res--laptop {
    font-size: 16px;
  }
}

.btn-text-bottom {
  // 👆 텍스트에 ⌄ 가 붙은 버튼
  @extend .btn-text;
  background-size: 12px 8px;
  background-position: 100% 50%;
  background-image: icon(arrow-bottom, "5f5f5f");

  &:hover {
    background-image: icon(arrow-bottom, "101010");

  }
}

.btn-load-more {
  // 👆 더 불러오기 버튼
  @include pointer-auto;
  padding-right: 20px;
  min-height: 22px;

  //laptop
  @include res--laptop {
    padding-right: 22px;
  }

  &.-load-all {
    // 🙌 모든 정보를 다 불러왔을 때
    position: relative;
    font-size: 0;
    padding: 0;
    width: auto;
    background: none;
    @include pointer-none;

    .btn-load-text {
      font-size: 0;

      &:after {
        position: absolute;
        top: 1px;
        right: 10px;
        display: block;
        font-size: 14px;
        content: '';
        background-image: icon(check, "afafaf");
        width: 19px;
        height: 19px;
        background-size: 11px;
        background-position: 49% 50%;
        background-repeat: no-repeat;
        border: 1px solid #afafaf;
        border-radius: 50%;
      }
    }

    &:before,
    &:after {
      display: inline-block;
      font-size: 14px;
      color: #afafaf;
    }

    &:before {
      content: '( 모든 정보를 다 불러왔어요';
    }

    &:after {
      content: ')';
      margin-left: 28px;
    }


    //laptop
    @include res--laptop {

      &:before,
      &:after {
        font-size: 15px;
      }
    }

  }
}

.btn-account-withdraw {
  // 👆 회원탈퇴 전용 버튼
  margin-top: 55px;
  position: relative;
  color: #bebebe;
  font-size: 13px;
  font-weight: $fw-m;
  padding-bottom: 1px;
  border-bottom: 1px solid #bebebe;

  //laptop
  @include res--laptop {
    margin-top: 70px;
    font-size: 14px;
  }
}

.btn-accordion {
  // 👆 아코디언 버튼 (문의 목록용)
  width: 16px;
  height: 16px;
  background-size: 16px 10px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: icon(arrow-bottom, "4b4b4b");

  //laptop
  @include res--laptop {
    width: 18px;
    height: 18px;
    background-size: 18px 14px;
  }
}